Repository waonpad/miraisozoten, pull requests merged in 2023-12, with the labels that each got.

#292 feat(web): ✨ close #266
  apps/web/src/pages/(todoufuken)/game.explain/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/router.ts
Labels: type: feat, scope: web

#296 295 feature seが必要な場所に再生用のコードを追加する
  apps/web/package.json
  apps/web/src/components/elements/auth-icon-button/index.tsx
  apps/web/src/constants/cookie-names.ts
  apps/web/src/lib/use-sound/index.ts
  apps/web/src/lib/use-sound/use-sound.ts
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display-with-opponent-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/types/use-sound.ts
  yarn.lock
Labels: type: feat, type: fix, type: package, type: perf, type: refactor, scope: web, scope: types

#302 feat(types): ✨ データの追加
  packages/database/seed-data/prefecture-stats/apple-consumption.ts
  packages/database/seed-data/prefecture-stats/baseball-population.ts
  packages/database/seed-data/prefecture-stats/bridge-count.ts
  packages/database/seed-data/prefecture-stats/convenience-store-count.ts
  packages/database/seed-data/prefecture-stats/electricity-consumption.ts
  packages/database/seed-data/prefecture-stats/forest-area.ts
  packages/database/seed-data/prefecture-stats/internet-usage-rate.ts
  packages/database/seed-data/prefecture-stats/kerosene-price.ts
  packages/database/seed-data/prefecture-stats/morning-reading-enforcement-rate.ts
  packages/database/seed-data/prefecture-stats/post-office-count.ts
  packages/database/seed-data/prefecture-stats/rice-consumption.ts
  packages/database/seed-data/prefecture-stats/starbucks-count.ts
  packages/database/seed-data/prefecture-stats/tunnel-count.ts
  packages/database/seed-data/prefecture-stats/uniqlo-count.ts
Labels: type: feat, scope: types

#309 307 feature メニュー画面のコーディングをする
  apps/web/src/components/elements/auth-button/index.tsx
  apps/web/src/index.css
  apps/web/src/pages/menu/index.tsx
Labels: type: style, scope: web

#315 style(web): 👙 close #289
  apps/web/src/components/transitions/fade-transition/fade-transition-provider.tsx
  apps/web/src/components/transitions/fade-transition/index.tsx
  apps/web/src/components/transitions/fade-transition/use-fade-transition.ts
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/game.explain/index.tsx
  apps/web/src/pages/archives/index.tsx
  apps/web/src/pages/attribution/index.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/pages/ranking/index.tsx
  apps/web/src/providers/app-provider.tsx
Labels: type: style, scope: web

#314 chore(env): 🤖 close #150
  packages/database/src/seed.ts
Labels: type: chore, type: fix, scope: env

#320 282 feature 全ての画面に動きをつける
  apps/web/src/components/foreground-animations/foreground-leaf-animation/foreground-leaf-animation.css
  apps/web/src/components/foreground-animations/foreground-leaf-animation/index.tsx
  apps/web/src/providers/app-provider.tsx
Labels: type: feat, type: style, scope: design

#327 298 feature ランキング画面のコーディングをする
  apps/web/src/pages/ranking/_/components/game-ranking-filter.tsx
  apps/web/src/pages/ranking/_/components/game-ranking-list-header.tsx
  apps/web/src/pages/ranking/_/components/game-ranking-list-item.tsx
  apps/web/src/pages/ranking/_/components/infinite-game-ranking-list.tsx
  apps/web/src/pages/ranking/_/constants/regions.ts
  apps/web/src/pages/ranking/_/css/ranking.css
  apps/web/src/pages/ranking/index.tsx
Labels: type: style, scope: web, scope: design

#329 chore(config): 🤖 close #321
  apps/web/vite.config.ts
Labels: type: chore, scope: config

#331 330 feature 音声データを実際のものに差し替える
  apps/web/src/assets/sounds/click.mp3
  apps/web/src/assets/sounds/common-bgm.mp3
  apps/web/src/assets/sounds/disabled-click.mp3
  apps/web/src/assets/sounds/game-bgm.mp3
  apps/web/src/assets/sounds/game-clear.mp3
  apps/web/src/assets/sounds/game-turn-lose.mp3
  apps/web/src/assets/sounds/game-turn-win.mp3
  apps/web/src/assets/sounds/negative-click.mp3
  apps/web/src/assets/sounds/open-dialog.mp3
  apps/web/src/assets/sounds/page-move.mp3
  apps/web/src/lib/use-sound/use-sound.ts
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
Labels: type: feat, type: fix, scope: web

#328 style(design): 👙 デザインは完了
  apps/web/src/index.css
  apps/web/src/pages/attribution/_/api/components/attribution-list-item.tsx
  apps/web/src/pages/attribution/_/components/attribution-list-item.tsx
  apps/web/src/pages/attribution/_/components/attribution-list.test.tsx
  apps/web/src/pages/attribution/_/components/attribution-list.tsx
  apps/web/src/pages/attribution/_/css/attribution.css
  apps/web/src/pages/attribution/index.tsx
  apps/web/src/utils/format.ts
Labels: type: feat, type: refactor, type: style, scope: web, scope: design
