Repository waonpad/miraisozoten, pull requests merged in 2023-11, with the labels that each got.

#120 113 feature ゲームのタイム計測を可能にする
  apps/api/openapi.yml
  apps/web/src/pages/(todofuken)/_/components/game-status.tsx
  apps/web/src/pages/(todofuken)/_/config/game.tsx
  package-scripts.js
Labels: type: docs, type: feat, scope: api, scope: web, scope: env

#125 100 feature ゲストユーザーによる匿名認証を可能にする
  .github/workflows/web.yaml
  apps/api/.env.example
  apps/api/openapi.yml
  apps/api/package.json
  apps/api/src/auth/auth.service.ts
  apps/api/src/config/environments/env-validator.ts
  apps/api/src/config/environments/env.service.ts
  apps/api/src/main.ts
  apps/api/src/user/user.decorator.ts
  apps/api/src/user/user.middleware.ts
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/auth/auth-guard.tsx
  apps/web/src/auth/use-auth.ts
  apps/web/src/constants/cookie-names.ts
  apps/web/src/constants/env/createEnv.ts
  apps/web/src/lib/axios.ts
  apps/web/src/lib/firebase.ts
  apps/web/src/lib/react-cookie.ts
  apps/web/src/pages/(auth)/login/index.tsx
  apps/web/src/providers/app-provider.tsx
  packages/database/prisma/migrations/20231101071653_/migration.sql
  packages/database/prisma/schema.prisma
  packages/schema/package.json
  packages/schema/src/user/jwt-decoded-user.schema.ts
  packages/schema/src/user/user.schema.ts
  yarn.lock
Labels: type: docs, type: feat, type: refactor, scope: api, scope: web

#126 docs(env): ✏ firebaseプロジェクトのセットアップ手順をまとめた
  docs/SETUP.md
Labels: type: docs, scope: env

#127 123 feature 開発環境でsentryが必要ない場合は環境変数を必須にしないようにする
  apps/api/package.json
  apps/api/src/config/environments/constants/app-env.enum.ts
  apps/api/src/config/environments/constants/boolean.enum.ts
  apps/api/src/config/environments/constants/host.enum.ts
  apps/api/src/config/environments/env-validator.ts
  apps/api/src/config/environments/env.module.ts
  apps/api/src/config/environments/env.service.ts
  apps/api/src/main.ts
  apps/api/test/dredd/README.md
  apps/web/src/constants/env/createEnv.ts
  yarn.lock
Labels: type: docs, type: feat, type: package, type: refactor, scope: api, scope: web, scope: config

#128 chore(env): 🤖 都道府県データ保存用のテンプレートと型定義を作成した
  packages/database/seed-data/prefecture-stats/_template.ts
  packages/database/seed-data/prefecture-stats/types.ts
Labels: type: chore, scope: env

#129 102 feature prismaのdiの仕方が変わったのでテンプレートに反映させる
  apps/api/turbo/generators/templates/resource/resource.controller.spec.ts.hbs
  apps/api/turbo/generators/templates/resource/resource.service.spec.ts.hbs
  apps/api/turbo/generators/templates/resource/resource.service.ts.hbs
Labels: type: chore

#131 fix(none): Update axios.ts
  apps/web/src/lib/axios.ts
Labels: type: fix

#134 feat(web): ✨ 都道府県ごとのsvgを表示するコンポーネントを作成した
  apps/web/src/pages/(todofuken)/_/components/maps/prefecture-svg.tsx
Labels: type: feat, scope: web

#136 132 feature 非同期処理とイベントハンドラ内で発生したエラーをerrorboundaryで捕まえられるようにする
  apps/web/src/lib/react-error-boundary.tsx
  apps/web/src/providers/app-provider.tsx
  apps/web/src/utils/hooks/useWindowEvent.ts
Labels: type: feat, scope: web

#137 133 feature ログアウト時や復帰不可能なエラーが発生している場合にゲームの情報をcookieから削除する
  apps/web/src/auth/use-auth.ts
  apps/web/src/pages/(todofuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todofuken)/_/providers/game-provider.tsx
  apps/web/src/pages/(todofuken)/game/index.tsx
Labels: type: feat, type: fix, scope: web

#139 feat(web): ✨ マップを折り返せるようにした
  apps/web/src/pages/(todofuken)/_/components/maps/japan-radio-svg-map.tsx
Labels: type: feat, scope: web

#140 67 feature dreddのhookファイル生成用テンプレートを作成する
  apps/api/dredd.yml
  apps/api/test/dredd/before-each.hook.js
  apps/api/test/dredd/create-weapon.hook.js
  apps/api/test/dredd/delete-weapon.hook.js
  apps/api/test/dredd/dredd-config.js
  apps/api/test/dredd/get-weapon.hook.js
  apps/api/test/dredd/update-weapon.hook.js
  apps/api/test/dredd/weapon/config.js
  apps/api/test/dredd/weapon/create-weapon.hook.js
  apps/api/test/dredd/weapon/delete-weapon.hook.js
  apps/api/test/dredd/weapon/get-weapon.hook.js
  apps/api/test/dredd/weapon/update-weapon.hook.js
  apps/api/turbo/generators/config.ts
  apps/api/turbo/generators/templates/test/dredd/resource/config.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/create-resource.hook.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/delete-resource.hook.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/get-resource.hook.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/update-resource.hook.js.hbs
Labels: type: config, type: feat, type: refactor, scope: api, scope: env

#143 141 feature データの出典情報のスキーマを作成する
  apps/api/src/app.module.ts
  apps/api/src/prefecture-stats-metadata/prefecture-stats-metadata.controller.ts
  apps/api/src/prefecture-stats-metadata/prefecture-stats-metadata.module.ts
  apps/api/src/prefecture-stats-metadata/prefecture-stats-metadata.service.ts
  apps/api/turbo/generators/templates/resource/resource.module.ts.hbs
  apps/api/turbo/generators/templates/resource/resource.service.ts.hbs
  apps/web/src/components/maps/japan-checkbox-svg-map.tsx
  apps/web/src/components/maps/japan-radio-svg-map.tsx
  apps/web/src/components/maps/prefecture-svg.tsx
  apps/web/src/lib/react-error-boundary.tsx
  apps/web/src/lib/react-query/query-keys.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-neighbors.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-stats-metadata-by-name.ts.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-stats-metadata.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-stats.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefectures.ts
  apps/web/src/pages/(todofuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-factor.tsx
  apps/web/src/pages/attribution/_/api/components/attribution-list-item.tsx
  apps/web/src/pages/attribution/_/api/components/attribution-list.tsx
  apps/web/src/pages/attribution/index.tsx
  apps/web/src/utils/hooks/use-window-event.ts
  packages/database/prisma/migrations/20231031112749_/migration.sql
  packages/database/prisma/migrations/20231031120800_/migration.sql
  packages/database/prisma/migrations/20231101071653_/migration.sql
  packages/database/prisma/migrations/20231106105819_/migration.sql
  packages/database/prisma/schema.prisma
  packages/schema/src/prefecture/stats/metadata/index.ts
  packages/schema/src/prefecture/stats/metadata/prefecture-stats-metadata-schema.ts
Labels: type: config, type: feat, type: fix, type: refactor, scope: api, scope: web, scope: env

#146 feat(web): Delete notched-container directory
  apps/web/src/components/elements/notched-container/config.ts
  apps/web/src/components/elements/notched-container/example/NotchedContainerExample.tsx
  apps/web/src/components/elements/notched-container/index.tsx
  apps/web/src/components/elements/notched-container/logics/generate-coords.ts
  apps/web/src/components/elements/notched-container/logics/rotaion-coords.test.ts
  apps/web/src/components/elements/notched-container/logics/rotation-coords.ts
  apps/web/src/components/elements/notched-container/logics/update-generated-coords.ts
  apps/web/src/components/elements/notched-container/types.ts
  apps/web/src/components/elements/notched-container/utils/calculate-interval.ts
  apps/web/src/components/elements/notched-container/utils/format.ts
  apps/web/src/components/elements/notched-container/utils/generate-interval.ts
  apps/web/src/components/elements/notched-container/utils/generate-notch.ts
  apps/web/src/components/elements/notched-container/utils/generate-polygon-coords.ts
  apps/web/src/components/elements/notched-container/utils/generate-random-between.ts
  apps/web/src/components/elements/notched-container/utils/get-dimmensions-large-and-small.ts
  apps/web/src/components/elements/notched-container/utils/get-target-dimmension.ts
  apps/web/src/components/elements/notched-container/utils/move-to-current-side-range-coords.ts
  apps/web/src/components/elements/notched-container/utils/regenerate-intervel-option.ts
Labels: type: feat, scope: web

#147 feat(web): ✨ マップで沖縄を折り返したときにわかりやすくするための線を作成した
  apps/web/src/components/maps/japan-radio-svg-map.tsx
Labels: type: feat, scope: web

#149 148 feature マップ上でクリックしにくい都道府県の反応範囲を広げたい
  apps/web/src/components/maps/config/index.ts
  apps/web/src/components/maps/dispatch-svg-map-location-element.tsx
  apps/web/src/components/maps/hooks/use-dispatch-svg-map-location-event.ts
  apps/web/src/components/maps/japan-radio-svg-map.tsx
  apps/web/src/components/maps/map-separator.tsx
  apps/web/src/components/maps/types/index.ts
  apps/web/src/components/maps/utils/get-relocation-type.ts
  apps/web/src/components/maps/utils/relocation-by-type.ts
  apps/web/src/components/maps/utils/shift-path.ts
Labels: type: feat, type: refactor, scope: web

#157 refactor(none): 🔨 todofukenをtodoufukenに変更
  apps/api/src/app.module.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/todoufuken/game/config/game-include-default.ts
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.module.ts
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/auth/use-auth.ts
  apps/web/src/constants/cookie-names.ts
  apps/web/src/lib/react-query/query-keys.ts
  apps/web/src/pages/(todoufuken)/_/api/get-game.ts
  apps/web/src/pages/(todoufuken)/_/api/start-game.ts
  apps/web/src/pages/(todoufuken)/_/api/submit-game-turn-act.ts
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-factor.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-high-low.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-opponent.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todoufuken)/_/providers/game-provider.tsx
  apps/web/src/pages/(todoufuken)/game/_layout.tsx
  apps/web/src/pages/(todoufuken)/game/index.tsx
  packages/schema/src/todoufuken/game/game-difficulty.config.ts
  packages/schema/src/todoufuken/game/game.enum.ts
  packages/schema/src/todoufuken/game/game.schema.ts
  packages/schema/src/todoufuken/game/index.ts
  packages/schema/src/todoufuken/game/log/game-log.schema.ts
  packages/schema/src/todoufuken/game/log/index.ts
Labels: type: refactor

#158 refactor(none): 🔨 ゲームの難易度の識別名を修正した
  apps/api/openapi.yml
  apps/api/src/prisma/prisma.service.ts
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  packages/database/prisma/migrations/20231106105819_/migration.sql
  packages/database/prisma/migrations/20231110112114_/migration.sql
  packages/database/prisma/schema.prisma
  packages/schema/src/todoufuken/game/game.enum.ts
Labels: type: refactor

#159 155 feature ゲームの難易度とモードのラベルを識別名にマッピングする
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  apps/web/src/utils/strict-entries.ts
Labels: type: feat, type: refactor, scope: web

#173 168 feature ワイヤーフレームに対応してゲームの画面遷移を修正する
  apps/web/src/pages/(todoufuken)/_/components/confirm-give-up-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-question.tsx
  apps/web/src/pages/(todoufuken)/_/components/give-up-icon-button.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-factor.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-high-low.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-select-opponent.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todoufuken)/_/utils/compute-factors.ts
  apps/web/src/pages/(todoufuken)/_/utils/gat-all-factors.ts
Labels: type: feat, scope: web

#175 feat(web): ✨ ゲームのギブアップ処理を追加して、ステートの定数も最小限にした
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/pages/(todoufuken)/_/api/give-up-game.ts
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
  packages/database/prisma/schema.prisma
  packages/schema/src/todoufuken/game/game.enum.ts
Labels: type: feat, scope: web

#181 165 feature 成績一覧画面用のコンポーネントを作成する
  apps/api/openapi.yml
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/auth/auth-guard.tsx
  apps/web/src/pages/(todoufuken)/_/api/get-infinite-games.ts
  apps/web/src/pages/archives/_/components/game-archive-list-item.tsx
  apps/web/src/pages/archives/_/components/infinite-game-archive-list.tsx
  apps/web/src/pages/archives/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/router.ts
  packages/database/prisma/migrations/20231111143857_dev/migration.sql
  packages/schema/src/todoufuken/game/game.schema.ts
Labels: type: config, type: docs, type: feat, type: style, scope: api, scope: web

#183 166 feature ランキング画面用のコンポーネントを作成する
  apps/web/src/pages/(todoufuken)/_/api/get-infinite-games.ts
  apps/web/src/pages/ranking/_/components/game-ranking-filter.tsx
  apps/web/src/pages/ranking/_/components/game-ranking-list-header.tsx
  apps/web/src/pages/ranking/_/components/game-ranking-list-item.tsx
  apps/web/src/pages/ranking/_/components/infinite-game-ranking-list.tsx
  apps/web/src/pages/ranking/index.tsx
Labels: type: feat, type: fix, scope: web

#185 184 feature ゲーム部分のリファクタリング
  apps/api/openapi.yml
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/pages/(todoufuken)/_/api/submit-game-turn-action.ts
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-question.tsx
  apps/web/src/pages/(todoufuken)/_/components/give-up-icon-button.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game-settings.ts
  apps/web/src/pages/(todoufuken)/_/hooks/use-game-turn-action.ts
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
  apps/web/src/pages/menu/index.tsx
  apps/web/src/router.ts
  apps/web/src/utils/asset.ts
Labels: type: feat, type: refactor, scope: web

#191 169 feature ゲーム部分のフロントエンドテストをしやすくするためのコメントを書く
  apps/web/src/pages/(todoufuken)/_/api/start-game.ts
  apps/web/src/pages/(todoufuken)/_/api/submit-game-turn-action.ts
  apps/web/src/pages/(todoufuken)/_/components/confirm-give-up-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-question.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game-settings.ts
  apps/web/src/pages/(todoufuken)/_/hooks/use-game-turn-action.ts
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todoufuken)/_/providers/game-provider.tsx
  apps/web/src/pages/(todoufuken)/_/utils/compute-factors.ts
  apps/web/src/pages/(todoufuken)/_/utils/gat-all-factors.ts
  apps/web/src/pages/(todoufuken)/_/utils/get-turn-factor.ts
Labels: type: docs, type: refactor

#194 feat(web): ✨ close #193
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display-with-opponent-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-question.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
Labels: type: feat, scope: web

#201 197 feature firebase emulatorを導入してローカルのみでfirebaseを利用できるようにする
  apps/api/.env.test.local.example
  apps/api/package.json
  apps/api/src/config/environments/env.module.ts
  apps/api/src/config/environments/env.service.ts
  apps/api/src/main.ts
  apps/api/test/dredd/README.md
  apps/api/test/dredd/after-each.hook.js
  apps/api/test/dredd/before-each.hook.js
  apps/api/test/dredd/dredd-config.js
  apps/web/.env.test.local.example
  apps/web/package.json
  apps/web/src/__mocks__/server/db.ts
  apps/web/src/__mocks__/server/handlers/auth.handler.ts
  apps/web/src/__mocks__/server/utils.ts
  apps/web/src/constants/env/create-env.ts
  apps/web/src/lib/firebase.ts
  package-scripts.js
  packages/fb-tools/.firebaserc
  packages/fb-tools/.gitignore
  packages/fb-tools/firebase.json
  packages/fb-tools/lib/admin-server.js
  packages/fb-tools/package.json
  yarn.lock
Labels: type: docs, type: feat, scope: env

#204 192 feature フロントエンドの認証モック用コードを更新する
  apps/web/src/__mocks__/server/handlers/auth.handler.ts
  apps/web/src/lib/firebase.ts
  apps/web/src/test/utils/index.ts
Labels: type: feat, type: style

#210 208 feature mswのdbにバックエンドと同じモデルとハンドラーを用意する
  apps/web/src/__mocks__/server/db.ts
  apps/web/src/__mocks__/server/guards/auth-guard.ts
  apps/web/src/__mocks__/server/handlers/auth.handler.ts
  apps/web/src/__mocks__/server/handlers/game.handler.ts
  apps/web/src/__mocks__/server/handlers/index.ts
  apps/web/src/__mocks__/server/handlers/prefecture-stats-metadata.handler.ts
  apps/web/src/__mocks__/server/handlers/prefecture.handler.ts
  apps/web/src/__mocks__/server/middleware/user-middleware.ts
  apps/web/src/__mocks__/server/utils/compute-game-data.ts
  apps/web/src/__mocks__/server/utils/delayed-response.ts
  apps/web/src/__mocks__/server/utils/game-relation-include.ts
  apps/web/src/__mocks__/server/utils/get-page-number-pagination-meta.ts
  apps/web/src/__mocks__/server/utils/get-request-params-object.ts
  apps/web/src/test/seeders/prefecture-stats-metadata.seeder.ts
  apps/web/src/test/seeders/prefecture-stats.seeder.ts
  apps/web/src/test/seeders/prefecture.seeder.ts
  apps/web/src/test/seeders/region.seeder.ts
Labels: type: feat, type: test, scope: web

#212 209 feature 使用予定のないエンドポイントやapiフックを削除する
  .github/workflows/api.yaml
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.controller.ts
  apps/api/src/app.module.spec.ts
  apps/api/src/app.module.ts
  apps/api/src/app.service.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/prefecture-stats-metadata/prefecture-stats-metadata.controller.ts
  apps/api/src/prefecture-stats-metadata/prefecture-stats-metadata.service.ts
  apps/api/src/prefecture/prefecture.controller.ts
  apps/api/src/prefecture/prefecture.service.ts
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/__mocks__/server/handlers/game.handler.ts
  apps/web/src/__mocks__/server/handlers/prefecture.handler.ts
  apps/web/src/auth/api/get-auth-user.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-neighbors.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-stats-metadata-by-name.ts.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture-stats.ts
  apps/web/src/pages/(prefectures)/_/api/get-prefecture.ts
  packages/schema/src/prefecture/stats/metadata/prefecture-stats-metadata-schema.ts
  packages/schema/src/todoufuken/game/game.schema.ts
  packages/schema/src/user/user.schema.ts
Labels: type: ci, type: feat, type: test, scope: env

#214 213 documentation セットアップと開発のドキュメントを更新する
  apps/web/src/constants/env/create-env.ts
  apps/web/src/lib/firebase.ts
  docs/DEV.md
  docs/SETUP.md
  docs/WORKFLOW.md
  package-scripts.js
Labels: type: chore, type: docs, type: feat, scope: env

#215 117 feature ゲーム部分のバックエンドの正常系テスト環境の確認・整備・ドキュメント作成
  apps/api/dredd.yml
  apps/api/openapi.yml
  apps/api/test/dredd/after-each.hook.js
  apps/api/test/dredd/before-each.hook.js
  apps/api/test/dredd/dredd-config.js
  apps/api/turbo/generators/templates/test/dredd/resource/create-resource.hook.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/get-resource.hook.js.hbs
  apps/api/turbo/generators/templates/test/dredd/resource/update-resource.hook.js.hbs
  docs/test/BACKEND_TEST_DREDD.md
  package-scripts.js
  packages/schema/src/common/pagination/page-number-pagination-meta.schema.ts
  packages/schema/src/prefecture/prefecture.schema.ts
  packages/schema/src/prefecture/region/region.schema.ts
  packages/schema/src/prefecture/stats/metadata/prefecture-stats-metadata-schema.ts
  packages/schema/src/prefecture/stats/prefecture-stats.schema.ts
  packages/schema/src/todoufuken/game/game.schema.ts
  packages/schema/src/todoufuken/game/log/game-log.schema.ts
  packages/schema/src/user/user.schema.ts
  tool/process-kill.js
Labels: type: chore, type: docs, type: test, scope: api, scope: env

#219 116 feature フロントエンドテスト環境整備
  apps/web/atodekesu.txt
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/__mocks__/server/middleware/user-middleware.ts
  apps/web/src/auth/auth-provider.tsx
  apps/web/src/components/elements/suspense-fallback/index.tsx
  apps/web/src/constants/env/create-env.ts
  apps/web/src/pages/attribution/_/api/components/attribution-list-item.tsx
  apps/web/src/pages/attribution/_/api/components/attribution-list.test.tsx
  apps/web/src/routes.tsx
  apps/web/src/setup-tests.ts
  apps/web/src/test/utils/index.ts
  apps/web/src/test/utils/mocks/auth-guard.mock.ts
  apps/web/src/test/utils/mocks/firebase-get-redirect-result.mock.ts
  apps/web/src/test/utils/mocks/index.ts
  apps/web/src/test/utils/test-render-provider.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  package-scripts.js
  packages/eslint-config-custom/react.js
  packages/fb-tools/firebase.json
  packages/fb-tools/lib/admin-server.js
  packages/fb-tools/package.json
  packages/schema/package.json
  yarn.lock
Labels: type: chore, type: config, type: feat, type: fix, type: package, type: refactor, type: test, scope: web

#220 docs(none): ✏ 規則や設定についての説明を追加した
  docs/test/FRONTEND_TEST.md
Labels: type: docs

#224 refactor(none): 🔨 close #223
  apps/api/test/dredd/dredd-config.js
Labels: type: refactor

#198 データ追加
  packages/database/seed-data/prefecture-stats/Attractiveness-Ranking.ts
  packages/database/seed-data/prefecture-stats/Important-cultural-property-count.ts
  packages/database/seed-data/prefecture-stats/academicability.ts
  packages/database/seed-data/prefecture-stats/annual-precipitation.ts
  packages/database/seed-data/prefecture-stats/artmuseum-count.ts
  packages/database/seed-data/prefecture-stats/average-temperature.ts
  packages/database/seed-data/prefecture-stats/detached-house-rate.ts
  packages/database/seed-data/prefecture-stats/deviation-value.ts
  packages/database/seed-data/prefecture-stats/elementary-school-count.ts
  packages/database/seed-data/prefecture-stats/garbage-recycling-rate.ts
  packages/database/seed-data/prefecture-stats/gdp.ts
  packages/database/seed-data/prefecture-stats/hometown-tax.ts
  packages/database/seed-data/prefecture-stats/koshien-count.ts
  packages/database/seed-data/prefecture-stats/natural-monument-count.ts
  packages/database/seed-data/prefecture-stats/rice-production-rate.ts
  packages/database/seed-data/prefecture-stats/shrine-count.ts
  packages/database/seed-data/prefecture-stats/soccer-population.ts
  packages/database/seed-data/prefecture-stats/stuetion-count.ts
  packages/database/seed-data/prefecture-stats/sugar-consumption.ts
Labels: type: chore, type: feat, scope: api, scope: types

#232 221 feature pre pushのテスト実行時にfirebaseエミュレーターを起動するようにする
  apps/api/src/config/environments/env.service.ts
  package-scripts.js
Labels: type: chore, type: config, scope: env

#233 feat(web): ✨ close #231
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/__mocks__/server/handlers/game.handler.ts
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/_/utils/gat-all-factors.ts
  apps/web/src/pages/(todoufuken)/_/utils/get-turn-ally-factor.ts
  apps/web/src/pages/(todoufuken)/_/utils/get-turn-opponent-factor.ts
Labels: type: feat, scope: web

#236 211 feature 都道府県データ更新時にmswjsdataのモデルも更新するようにスクリプトに追加する
  apps/web/src/__mocks__/server/db.ts
  packages/database/prisma/migrations/20231120181121_/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/seed-data/prefecture-stats/index.ts
  packages/schema/src/prefecture/stats/prefecture-stats.config.ts
  packages/schema/src/prefecture/stats/prefecture-stats.enum.ts
  packages/schema/src/todoufuken/game/game-difficulty.config.ts
  tool/post-update-prefecture-stats-data.ts
Labels: type: chore, type: config, scope: env

#238 237 feature ゲームの制覇数カウントは初期選択した都道府県もカウントに含めるようにする
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
Labels: type: refactor, type: style

#241 feat(web): ✨ close #239
  apps/web/package.json
  apps/web/src/vite-env.d.ts
  apps/web/vite.config.ts
  yarn.lock
Labels: type: feat, scope: web

#243 242 feature 各種svgをコンポーネントに配置する
  apps/api/openapi.yml
  apps/api/src/config/environments/env.service.ts
  apps/web/src/assets/logo.svg
  apps/web/src/components/elements/auth-icon-button/index.tsx
  apps/web/src/components/elements/logo/index.tsx
  apps/web/src/pages/(todoufuken)/_/components/give-up-icon-button.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/archives/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/pages/ranking/index.tsx
Labels: type: docs, type: refactor, type: style, scope: api, scope: web

#248 246 feature 画像素材を背景にしたコンテナを作成する
  apps/web/src/components/containers/image-bg-container/index.tsx
  apps/web/src/components/maps/prefecture-svg.tsx
  apps/web/src/pages/(todoufuken)/_/components/confirm-give-up-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display-with-opponent-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  packages/database/prisma/schema.prisma
  packages/schema/src/prefecture/stats/prefecture-stats.config.ts
  tool/post-update-prefecture-stats-data.ts
Labels: type: fix, type: refactor, type: style, scope: web, scope: env

#249 245 feature 画像素材を背景にしたボタンを作成する
  apps/web/src/components/elements/image-bg-button/index.tsx
Labels: type: refactor, type: style, scope: web

#252 251 feature ボタンを画像素材を背景にしたボタンに置き換える
  apps/web/src/assets/notched-paper-burlywood-disabled.png
  apps/web/src/assets/notched-paper-burlywood-hovered.png
  apps/web/src/assets/notched-paper-burlywood-selected.png
  apps/web/src/assets/notched-paper-orange-disabled.png
  apps/web/src/assets/notched-paper-orange-hovered.png
  apps/web/src/assets/notched-paper-orange-selected.png
  apps/web/src/components/elements/image-bg-button/index.tsx
  apps/web/src/pages/(todoufuken)/_/components/confirm-give-up-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
Labels: type: feat, type: style, scope: web

#255 style(web): 👙 close #187
  apps/web/src/pages/(todoufuken)/game/index.tsx
  apps/web/src/pages/archives/index.tsx
  apps/web/src/pages/attribution/index.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/pages/menu/index.tsx
  apps/web/src/pages/ranking/index.tsx
Labels: type: style, scope: web

#256 feat(api): ✨ 自分以外のゲームの成績を取得しようとしたらエラーが返るようにした
  apps/api/src/todoufuken/game/game.controller.ts
  apps/api/src/todoufuken/game/game.service.ts
Labels: type: feat, scope: api

#260 feat(api): ✨ close #179
  apps/api/openapi.yml
  apps/api/src/todoufuken/game/game.service.ts
  apps/web/src/__mocks__/server/db.ts
  apps/web/src/pages/archives/_/components/infinite-game-archive-list.tsx
  apps/web/src/pages/ranking/_/components/game-ranking-list-item.tsx
  apps/web/src/pages/ranking/_/components/infinite-game-ranking-list.tsx
  apps/web/src/pages/ranking/index.tsx
  apps/web/src/utils/format.ts
  packages/database/prisma/migrations/20231123115244_/migration.sql
  packages/database/prisma/migrations/20231123135747_/migration.sql
  packages/database/prisma/schema.prisma
  packages/schema/src/todoufuken/game/game.schema.ts
Labels: type: feat, type: fix, scope: api

#261 fix(api): 🐞 close #258
  apps/api/src/todoufuken/game/game.service.ts
Labels: type: fix, scope: api

#264 262 feature バックエンドのコード修正をモックサーバーに反映させる
  apps/web/package.json
  apps/web/src/__mocks__/server/db.ts
  apps/web/src/__mocks__/server/handlers/game.handler.ts
  apps/web/src/__mocks__/server/utils/get-request-params-object.ts
  yarn.lock
Labels: type: feat, type: fix, type: package, scope: web

#267 style(web): 👙 close #171
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-info.tsx
Labels: type: style, scope: web

#269 style(web): 👙 close #259
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/hooks/use-game.ts
Labels: type: style, scope: web

#273 271 feature ゲーム部分のデザインカンプをコーディングする
  apps/web/src/assets/icons/give-up.svg
  apps/web/src/assets/notched-paper-burlywood-disabled.png
  apps/web/src/assets/notched-paper-burlywood-hovered.png
  apps/web/src/assets/notched-paper-burlywood-selected.png
  apps/web/src/assets/notched-paper-orange-disabled.png
  apps/web/src/assets/notched-paper-orange-hovered.png
  apps/web/src/assets/notched-paper-orange-selected.png
  apps/web/src/components/containers/image-bg-container/index.tsx
  apps/web/src/components/elements/image-bg-button/index.tsx
  apps/web/src/components/maps/config/index.ts
  apps/web/src/components/maps/dispatch-svg-map-location-element.tsx
  apps/web/src/components/maps/japan-checkbox-svg-map.tsx
  apps/web/src/components/maps/japan-radio-svg-map.tsx
  apps/web/src/components/maps/prefecture-svg.tsx
  apps/web/src/components/maps/styles/index.css
  apps/web/src/index.css
  apps/web/src/pages/(todoufuken)/_/components/confirm-give-up-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display-with-opponent-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-header.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-info.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-status.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-factor-select.tsx
  apps/web/src/pages/(todoufuken)/_/components/game-turn-question.tsx
  apps/web/src/pages/(todoufuken)/_/components/give-up-icon-button.tsx
  apps/web/src/pages/(todoufuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-action.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-turn-result.tsx
  apps/web/src/pages/(todoufuken)/_/config/game.tsx
  packages/ui/components/ui/dialog.tsx
Labels: type: feat, type: refactor, type: style, scope: web

#276 style(web): 👙 close #275
  apps/web/src/assets/logo.png
  apps/web/src/assets/logo.svg
  apps/web/src/components/elements/logo/index.tsx
  apps/web/src/pages/(todoufuken)/_/components/screens/game-lobby.tsx
Labels: type: style, scope: web

#285 fix(env): 🐞 close #272
  package-scripts.js
  packages/fb-tools/package.json
  yarn.lock
Labels: type: fix, scope: env

#286 270 feature ログアウト時にダイアログで確認をするようにする
  apps/web/src/components/elements/auth-icon-button/index.tsx
  apps/web/src/components/elements/confirm-logout-dialog/index.tsx
  apps/web/src/components/elements/login-alert-dialog/index.tsx
  apps/web/src/pages/menu/index.tsx
Labels: type: feat, scope: web
