Repository waonpad/miraisozoten, pull requests merged in 2023-10, with the labels that each got.

#6 5 feature request apiweb間で同じ型を共有するため パッケージに抽出したい
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/user/user.decorator.ts
  apps/api/src/user/user.middleware.ts
  apps/api/src/weapons/constants/weapon-attribute.enum.ts
  apps/api/src/weapons/entity/weapon.entity.ts
  apps/api/src/weapons/weapons.controller.ts
  apps/api/src/weapons/weapons.service.spec.ts
  apps/api/src/weapons/weapons.service.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/auth/use-auth.ts
  apps/web/src/config/messages/validation.ts
  apps/web/src/pages/(auth)/_/api/get-auth-user.ts
  apps/web/src/pages/(auth)/_/api/login.ts
  apps/web/src/pages/weapons/_/api/create-weapon.ts
  apps/web/src/pages/weapons/_/api/get-weapon.ts
  apps/web/src/pages/weapons/_/api/get-weapons.ts
  apps/web/src/pages/weapons/_/api/update-weapon.ts
  apps/web/src/pages/weapons/_/components/create-weapon.tsx
  apps/web/src/pages/weapons/_/components/update-weapon.tsx
  apps/web/src/pages/weapons/_/constants/weapon-attribute.enum.ts
  apps/web/src/types/index.ts
  apps/web/src/types/jwt-decoded-user.ts
  packages/database/package.json
  packages/database/prisma/migrations/20231014063505_dev/migration.sql
  packages/database/prisma/schema.prisma
  packages/eslint-config-custom/next.js
  packages/eslint-config-custom/package.json
  packages/schema/.eslintrc.js
  packages/schema/lint-staged.config.js
  packages/schema/package.json
  packages/schema/src/common/index.ts
  packages/schema/src/common/pagination/index.ts
  packages/schema/src/common/pagination/page-number-pagination-options.schema.ts
  packages/schema/src/user/index.ts
  packages/schema/src/user/jwt-decoded-user.schema.ts
  packages/schema/src/user/user.schema.ts
  packages/schema/src/weapon/index.ts
  packages/schema/src/weapon/weapon.schema.ts
  packages/schema/tsconfig.json
  packages/schema/tsup.config.ts
  packages/tsconfig/nestjs.json
  packages/tsconfig/nextjs.json
  yarn.lock
Labels: enhancement

#13 12 feature request フロントエンドでschemaパッケージを呼び出したときに発生するエラーの解決
  apps/api/src/weapons/weapons.service.spec.ts
  apps/web/package.json
  apps/web/src/pages/weapons/_/components/create-weapon.tsx
  apps/web/src/pages/weapons/_/components/update-weapon.tsx
  package.json
  packages/database/prisma/migrations/20231016011246_dev/migration.sql
  packages/database/prisma/schema.prisma
  packages/schema/src/user/user.schema.ts
  packages/schema/src/weapon/weapon.schema.ts
  yarn.lock
Labels: bug, enhancement

#32 chore(env): PRにラベルを自動付与するActionsを作成
  .github/workflows/add-labels-on-pr.yml
Labels: type: chore, scope: env

#34 chore(env): Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: chore, scope: env

#36 chore(env): Create remove-labels-on-issue-closed.yml
  .github/workflows/remove-labels-on-issue-closed.yml
Labels: type: chore, scope: env

#39 docs(env): ✏ Gitを利用した開発フローに関するドキュメントを作成
  README.md
  docs/WORKFLOW.md
Labels: type: docs, scope: env

#40 chore(config): @waonpadを全コードのオーナーに設定
  .github/CODEOWNERS
Labels: type: chore, scope: config

#41 chore(env): Create assgin-author-to-pr.yml
  .github/workflows/assgin-author-to-pr.yml
Labels: type: chore, scope: env

#42 18 feature request schemaのコード生成用テンプレート
  packages/schema/src/user/user.schema.ts
  packages/schema/src/weapon/weapon.schema.ts
  packages/schema/turbo/generators/config.ts
  packages/schema/turbo/generators/templates/feature/feature.schema.ts.hbs
  packages/schema/turbo/generators/templates/feature/index.ts.hbs
Labels: type: chore, type: fix, scope: types

#43 docs(env): schemaパッケージの概要をドキュメントに追加
  README.md
Labels: type: docs, scope: env

#44 17 bug dreddのテストが上手くいかないfail headers at content type no enum match for applicationjson charset=utf 8
  apps/api/openapi.yml
  apps/api/src/util/generate-api-response-options.util.ts
  apps/api/src/util/index.ts
  apps/api/src/weapon/weapon.controller.ts
  apps/api/src/weapon/weapon.service.spec.ts
  apps/api/src/weapon/weapon.service.ts
  apps/api/turbo/generators/templates/resource/resource.controller.ts.hbs
  apps/api/turbo/generators/templates/resource/resource.service.spec.ts.hbs
  apps/api/turbo/generators/templates/resource/resource.service.ts.hbs
  apps/web/src/pages/weapons/_/api/get-weapons-with-pages.ts
  apps/web/turbo/generators/templates/pages/features/_/api/get-features-with-pages.ts.hbs
  packages/schema/src/common/pagination/index.ts
  packages/schema/src/common/pagination/page-number-pagination-meta.schema.ts
  packages/schema/src/common/pagination/page-number-pagination-options.schema.ts
Labels: type: docs, type: fix, scope: api

#63 refactor(none): 🔨 紛らわしいコメント, 不要なコメントを削除した
  .github/workflows/api.yaml
  .github/workflows/web.yaml
  .husky/commit-msg
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/test/dredd/before-each.hook.js
  apps/api/test/dredd/create-weapon.hook.js
  apps/api/test/dredd/danger.hook.js
  apps/api/test/dredd/delete-weapon.hook.js
  apps/api/test/dredd/update-weapon.hook.js
  apps/web/.eslintrc.js
  apps/web/src/components/layout/app-bar/index.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/posts/[id]/index.tsx
  apps/web/src/types/index.ts
  docker-compose.yml
  packages/database/.env.example
  packages/database/src/seed.ts
  packages/database/tsup.config.ts
  packages/schema/src/user/user.schema.ts
  packages/schema/src/weapon/weapon.schema.ts
  packages/schema/tsup.config.ts
  packages/ui/turbo/generators/config.ts
  tool/auto-install.js
Labels: type: refactor

#69 68 feature zodスキーマによって作成されたapiドキュメントからモックデータを生成したい
  apps/api/openapi.yml
  apps/api/package.json
  apps/api/src/util/generate-api-response-options.util.ts
  apps/api/src/util/generate-schema.util.ts
  apps/api/src/util/index.ts
  apps/api/src/weapon/weapon.controller.ts
  apps/api/turbo/generators/templates/resource/resource.controller.ts.hbs
  packages/schema/package.json
  packages/schema/src/weapon/weapon.schema.ts
  yarn.lock
Labels: type: docs, type: feat, type: package, scope: api

#70 68 feature zodスキーマによって作成されたapiドキュメントからモックデータを生成したい
  apps/api/openapi.yml
  apps/api/src/weapon/weapon.controller.ts
  apps/api/test/dredd/before-each.hook.js
  apps/api/turbo/generators/templates/resource/resource.controller.ts.hbs
  apps/web/package.json
  apps/web/src/__mocks__/schema/index.ts
  apps/web/src/__mocks__/utils/get-example-data.ts
  apps/web/src/vite-env.d.ts
  apps/web/vite.config.ts
  yarn.lock
Labels: type: docs, type: feat, type: package, type: test, scope: api, scope: web

#72 71 feature mswを導入する
  apps/web/.env.test.local.example
  apps/web/package.json
  apps/web/public/mockServiceWorker.js
  apps/web/src/__mocks__/server/browser.ts
  apps/web/src/__mocks__/server/data-generators.ts
  apps/web/src/__mocks__/server/db.ts
  apps/web/src/__mocks__/server/handlers/auth.handler.ts
  apps/web/src/__mocks__/server/handlers/index.ts
  apps/web/src/__mocks__/server/handlers/weapon.handler.ts
  apps/web/src/__mocks__/server/index.ts
  apps/web/src/__mocks__/server/server.ts
  apps/web/src/__mocks__/server/utils.ts
  apps/web/src/__mocks__/utils/get-example-data.ts
  apps/web/src/__mocks__/utils/get-openapi.ts
  apps/web/src/auth/auth-guard.tsx
  apps/web/src/auth/use-auth.ts
  apps/web/src/constants/env/createEnv.ts
  apps/web/src/main.tsx
  apps/web/src/pages/(auth)/_/api/get-auth-user.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/providers/app-provider.tsx
  apps/web/src/test/utils/index.ts
  apps/web/src/utils/cookie/get-cookie.ts
  apps/web/src/utils/cookie/set-cookie.ts
  apps/web/src/utils/random.ts
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.build.json
  apps/web/vite.config.ts
  package.json
  yarn.lock
Labels: type: chore, type: feat, type: package, type: refactor, scope: api, scope: web, scope: env, scope: config

#76 73 feature msw上でバリデーションを行えるようにする
  apps/web/.prettierignore
  apps/web/src/__mocks__/server/handlers/weapon.handler.ts
  apps/web/src/__mocks__/server/index.ts
  apps/web/src/__mocks__/server/utils.ts
  apps/web/src/constants/env/createEnv.ts
  apps/web/src/lib/react-query/query-config.ts
  apps/web/src/lib/react-query/types.ts
  apps/web/src/main.tsx
  apps/web/src/types/index.ts
  apps/web/src/utils/zod.ts
  package.json
  yarn.lock
Labels: type: config, type: feat, type: fix, type: package, type: refactor, scope: web, scope: env, scope: config, scope: types

#79 78 feature sentryを導入してログ監視をできるようにする
  .github/workflows/web.yaml
  .prettierignore
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/config/environments/env-validator.ts
  apps/api/src/config/environments/env.service.ts
  apps/api/src/main.ts
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/__mocks__/server/handlers/auth.handler.ts
  apps/web/src/__mocks__/server/handlers/weapon.handler.ts
  apps/web/src/__mocks__/server/utils.ts
  apps/web/src/components/elements/error-fallback/index.tsx
  apps/web/src/constants/env/createEnv.ts
  apps/web/src/lib/sentry.ts
  apps/web/src/main.tsx
  apps/web/src/providers/app-provider.tsx
  yarn.lock
Labels: type: config, type: feat, type: fix, scope: web, scope: env

#82 80 feature ゲーム部分の流れをダミーデータで一旦作ってみる
  apps/web/package.json
  apps/web/src/index.d.ts
  apps/web/src/pages/(todofuken)/_/components/battle-data-select.tsx
  apps/web/src/pages/(todofuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todofuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todofuken)/_/components/maps/japan-checkbox-svg-map.tsx
  apps/web/src/pages/(todofuken)/_/components/maps/japan-radio-svg-map.tsx
  apps/web/src/pages/(todofuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-result.tsx
  apps/web/src/pages/(todofuken)/_/config/game-difficulty.ts
  apps/web/src/pages/(todofuken)/_/config/game-mode.ts
  apps/web/src/pages/(todofuken)/_/config/game-stete.ts
  apps/web/src/pages/(todofuken)/_/config/game.ts
  apps/web/src/pages/(todofuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todofuken)/_/providers/game-provider.tsx
  apps/web/src/pages/(todofuken)/game/_layout.tsx
  apps/web/src/pages/(todofuken)/game/index.tsx
  apps/web/src/router.ts
  packages/database/prisma/migrations/20231008164116_init/migration.sql
  packages/database/prisma/migrations/20231012064820_dev/migration.sql
  packages/database/prisma/migrations/20231014063505_dev/migration.sql
  packages/database/prisma/migrations/20231016011246_dev/migration.sql
  packages/database/prisma/migrations/20231024151347_/migration.sql
  packages/prefecture/.eslintrc.js
  packages/prefecture/lint-staged.config.js
  packages/prefecture/package.json
  packages/prefecture/src/areas.ts
  packages/prefecture/src/index.ts
  packages/prefecture/src/prefectures.ts
  packages/prefecture/src/types.ts
  packages/prefecture/src/utils/get-area-prefectures.ts
  packages/prefecture/src/utils/get-prefecture-neighbors.ts
  packages/prefecture/src/utils/index.ts
  packages/prefecture/tsconfig.json
  packages/prefecture/tsup.config.ts
  yarn.lock
Labels: type: config, type: feat, type: package, scope: api, scope: web

#88 84 feature ゲームの流れを一旦作ってみる2
  apps/web/src/lib/react-query/query-keys.ts
  apps/web/src/pages/(todofuken)/_/api/get-prefecture-stats.ts
  apps/web/src/pages/(todofuken)/_/components/battle-data-select.tsx
  apps/web/src/pages/(todofuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todofuken)/_/components/game-difficulty-info.tsx
  apps/web/src/pages/(todofuken)/_/components/game-difficulty-select.tsx
  apps/web/src/pages/(todofuken)/_/components/game-mode-info.tsx
  apps/web/src/pages/(todofuken)/_/components/game-mode-select.tsx
  apps/web/src/pages/(todofuken)/_/components/game-setting-submit.tsx
  apps/web/src/pages/(todofuken)/_/components/maps/japan-radio-svg-map.tsx
  apps/web/src/pages/(todofuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-factor.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-high-low.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-opportunity.tsx
  apps/web/src/pages/(todofuken)/_/config/game-difficulty.ts
  apps/web/src/pages/(todofuken)/_/config/game-mode.ts
  apps/web/src/pages/(todofuken)/_/config/game-stete.ts
  apps/web/src/pages/(todofuken)/_/config/game.ts
  apps/web/src/pages/(todofuken)/_/config/game.tsx
  apps/web/src/pages/(todofuken)/_/hooks/use-game.ts
  apps/web/src/pages/(todofuken)/game/index.tsx
  packages/prefecture/src/prefectures.ts
  packages/prefecture/src/types.ts
  packages/prefecture/src/utils/get-area-prefectures.ts
  tool/git-easy-add.js
Labels: type: config, type: feat, type: fix, type: refactor, scope: web, scope: env, scope: config

#95 docs(none): ✏ notitel
  test.txt
Labels: type: docs

#98 chore(env): 🤖 セットアップ時にパッケージのビルドを実行するよう修正
  package-scripts.js
Labels: type: chore, scope: env

#109 103 bug mswのインストールが失敗する
  apps/web/.env.test.local.example
  apps/web/package.json
  packages/database/prisma/migrations/20231027154226_/migration.sql
  packages/database/prisma/migrations/20231031054527_/migration.sql
  yarn.lock
Labels: type: chore, type: fix, scope: api, scope: env, scope: config

#112 105 feature ゲームの難易度が高すぎる問題を解決するために低難易度用のデータを用意できるようにする
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-factor.tsx
  packages/schema/src/prefecture/index.ts
  packages/schema/src/prefecture/prefecture.enum.ts
  packages/schema/src/prefecture/stats/index.ts
  packages/schema/src/prefecture/stats/prefecture-stats.config.ts
  packages/schema/src/prefecture/stats/prefecture-stats.enum.ts
  packages/schema/src/todofuken/game/game-difficulty.config.ts
  packages/schema/src/todofuken/game/index.ts
  packages/schema/src/todofuken/game/log/game-log.schema.ts
Labels: type: feat, type: refactor, scope: web, scope: config

#115 110 feature ゲームの要素吸収機能を実装する
  apps/api/openapi.yml
  apps/api/src/prefecture/config/prefecture-include-default.ts
  apps/api/src/prefecture/prefecture.service.ts
  apps/api/src/todofuken/game/game.service.ts
  apps/web/src/pages/(todofuken)/_/api/get-prefecture-stats.ts
  apps/web/src/pages/(todofuken)/_/components/game-battle-display.tsx
  apps/web/src/pages/(todofuken)/_/components/prefecture-overview-dialog.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-battle.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-lobby.tsx
  apps/web/src/pages/(todofuken)/_/components/screens/game-select-factor.tsx
  packages/database/prisma/migrations/20231031112749_/migration.sql
  packages/database/prisma/migrations/20231031120800_/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/seed.ts
  packages/schema/src/prefecture/prefecture.schema.ts
  packages/schema/src/prefecture/stats/prefecture-stats.schema.ts
  packages/schema/src/todofuken/game/log/game-log.schema.ts
Labels: type: docs, type: feat, type: refactor, scope: api, scope: web
